*.o
COMP102P/homework5 java/.metadata/
COMP102P/homework5 java/.recommenders/
COMP102P/homework5 java/COMP102P Homework 5/bin/
COMP102P/homework5 java/COMP102P Homework 5/.project
COMP102P/homework5 java/COMP102P Homework 5/.settings/org.eclipse.jdt.core.prefs
Haskell/baby/LICENSE
